# AWS
aws_region = "<specify-aws-region-where-you-want-to-create-resources>"

# CDO
cdo_base_url = "<https://www.defenseorchestrator.com|https://www.defenseorchestrator.eu|https://apj.cdo.cisco.com"
cdo_api_token = "<replace-with-api-token-for-your-tenant>"

# ASA
asa_01_hostname = "<replace-with-name-of-asa>"
asa_01_username        = "<replace-with-asa-username>"
asa_01_password        = "<replace-with-asa-password; no repeating or consecutive characters>"
asa_01_enable_password = "<replace-with-asa-password; no repeating or consecutive characters>"


# FTD
ftd_01_hostname = "<replace-with-name-of-ftd>